/* SECTION */
#about {
  padding: 80px 60px;
}

/* TITULO */
#about h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #e6edf3;
}

/* CONTENEDOR */
.about-container {
  display: grid;
  gap: 20px;
  max-width: 700px;
}

/* BLOQUES */
.about-block {
  background: #0d1117;
  border: 1px solid #21262d;
  padding: 15px 20px;
  border-radius: 8px;
  transition: 0.25s;
}

/* HOVER */
.about-block:hover {
  border-color: #4da6ff;
  transform: translateX(5px);
}

/* TERMINAL */
.terminal-line {
  color: #4da6ff;
  font-family: monospace;
  font-size: 0.8rem;
  margin-bottom: 5px;
}

/* TEXTO */
.about-block p:last-child {
  color: #8b949e;
  font-size: 0.95rem;
}

.highlight {
  border-color: #4da6ff;
  background: rgba(77, 166, 255, 0.05);
}