/* SECTION */
#contact {
  padding: 80px 60px;
}

/* TITULO */
#contact h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #e6edf3;
}

/* CONTENEDOR */
.contact-container {
  display: grid;
  gap: 20px;
  max-width: 700px;
}

/* BLOQUES */
.contact-block {
  background: #0d1117;
  border: 1px solid #21262d;
  padding: 15px 20px;
  border-radius: 8px;
  transition: 0.25s;
}

/* HOVER */
.contact-block:hover {
  border-color: #4da6ff;
  transform: translateX(5px);
}

/* TEXTO */
.contact-block p:last-child {
  color: #8b949e;
  font-size: 0.95rem;
}

/* LINKS */
.contact-links {
  display: flex;
  gap: 20px;
}

.contact-links a {
  color: #4da6ff;
  text-decoration: none;
  font-size: 0.9rem;
  transition: 0.2s;
}

.contact-links a:hover {
  color: #79c0ff;
}

/* EMAIL */
.contact-block a {
  color: #4da6ff;
  text-decoration: none;
}

.contact-block a:hover {
  text-decoration: underline;
}

/* DESTACADO */
.highlight {
  border-color: #4da6ff;
  background: rgba(77, 166, 255, 0.05);
}